<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../../assets/iconoTicket.ico" alt="Venta de Tickets" class="imagen">
  <span class="espacio"></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/disponibles"routerLinkActive="active">Disponibles<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/reservados" routerLinkActive="active">Reservados</a>
      <a class="nav-item nav-link" routerLink="/comprados" routerLinkActive="active">Comprados</a>
    </div>
  </div>
</nav>

