<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../../assets/iconfinder_MARVEL_198572.png" alt="" class="logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/editar" routerLinkActive="active">Editar Películas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/agregar" routerLinkActive="active">Agregar Películas</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </div>
</nav>